@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
/*---------------header-----------------*/ /*még nem reszponzív*/
header{
    background-color: black;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 80px;
}
nav{
    display: flex;
    align-items: center;
    /*justify-content: space-between; /*középre tolja a menüsort*/
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    float: right;
}
.header_menu{
    margin-right: 25px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    margin: 0 10px;
}
nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
nav ul li a:hover{
    color: red;
    transition: all .30s ease; /*0.30mp alatt színezi be az összes elemet, amire rávisszük az egeret*/
}
.active{
    color: red !important;
}
/*-----hamburger_menu-----*/
.menu_icon{
    width: 46px;
    left: 0;
    margin: 15px 0;
}
.xmenu_icon:nth-child(2){
    width: 30px;
    left: 0;
    margin: 20px 0 10px 0;
}
label #btn,
label #cancel{
    float: right;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*-----logo-----*/
.logo{
    color: red;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    top: 5px;
    left: 5%;
}
.logo:hover{
    transition: all 0.2s ease;
    transform: scale(1.05);
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation: changeLogo 0.8s linear  infinite alternate forwards;
}
@keyframes changeLogo{
    0%{color: white;}
}
/*-----connection-----*/
.connection{
    display: flex;
    align-items: center;
}
.connection a{
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    color: red;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    transition: .2s;
}
.connection a:hover{
    transform: scale(1.06);
    cursor: pointer;
    color: white;
}
/*-----responsivity-----*/
@media (max-width: 1300px) {
    nav ul li{
        padding: 10px 5px;
    }
}
@media (max-width: 1170px) {
    .logo{
        left: 6%;
        font-size: 40px;
        top: 15px;
    }
}
@media (max-width: 1090px) {
    nav ul{
        margin-left: 20px;
    }
    nav ul li{
        padding: 10px 5px;
    }
    nav ul li a{
        font-size: 13px;
    }
    .connection a{
        font-size: 15px;
    }
}
@media (width <= 1028px) {
    label #btn{
        display: block;
    }
    nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 60px;
        left: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }
    nav ul li,
    nav div{
        display: block;
        margin: 40px;
        line-height: 20px;
    }
    /* a sing up, register egymás alatt van
    nav div{
        display: flex;
        flex-direction: column;
    }
    */
    nav ul li a{
        font-size: 20px;
    }
    .connection a{
        font-size: 19px;
    }
    #check:checked ~ nav{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
}
/*----------------main_body----------------*/
.main_body{
    background-color: #2b2a2a;
    overflow: hidden;
    padding-top: 100px;
}
h2{
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 10px;
}

/*-----new_tracks&featured-----*/
/*-----sliders-----*/
#left_scroll,
#right_scroll,
#left_scroll2,
#right_scroll2,
#left_scroll3,
#right_scroll3{
    width: 60px;
    cursor: pointer;
    transition: all .4 linear;
}
#left_scroll:hover,
#right_scroll:hover,
#left_scroll2:hover,
#right_scroll2:hover,
#left_scroll3:hover,
#right_scroll3:hover{
    transform: scale(0.85);
}
/*----------*/
.new_tracks,
.featured{
    margin: auto;
    width: 90%;
    height: auto;
}
h3{
    font-weight: bold;
    color: white;
    justify-content: center;
}
.title{
    color: #656464;
    font-style: italic;
}
.slider_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    height: auto;
}
.slider_content,
.slider_content2{
    width: 100%;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.slider_content::-webkit-scrollbar{
    display: none;
}
.slider_content2::-webkit-scrollbar{
    display: none;
}
.slider_content3::-webkit-scrollbar{
    display: none;
}
.music_card{
    width: 200px;
    height: 270px;
    list-style-type: none;
    margin-right: 20px;
    transition: .3s linear;
}
.music_card:hover{
    background: rgb(61, 61, 61);

}
.img_player{
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.img_player img{
    width: 100%;
    height: 180px;
}

.slider_content3{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.artist_card{
    width: 100%;
    position: relative;
    list-style-type: none;
    margin-right: 20px;
}

/*----------------footer----------------*/
.footer{
    background-color: #656464;
    padding: 70px 10px;
}

.footer_container{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.footer_row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
    position: relative;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 2px;
}
.social a:hover{
    color: red !important;
}